<%- include ('partials/header.ejs');  %>
<%- include ('partials/navbar.ejs');  %>
<div class="container">
  <hr>
  <h1>Perguntas</h1>
  <hr>
  <a href="/perguntar" class="btn btn-primary">Perguntar</a>
  <hr>
  <% perguntas.forEach(pergunta => { %>
    <br>
    <div class="card">
      <div class="card-body">
        <p><h3><%= pergunta.title%></h3></p>
      </div>
      <div class="card-footer">
      <a href="/pergunta/<%= pergunta.id %>">
        <button class="btn btn-primary">Responder</button>
      </a>  
      </div>
    </div>
  <%})%>
</div>
<br>
<%- include ('partials/footer.ejs');  %>